# Node modules
node_modules/

# Build outputs (Vite + Electron)
dist/
dist-electron/
release/
out/
build/

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Capacitor native builds (if you add mobile support)
/android/
android/

ios/
capacitor.config.ts
*.keystore

# Electron builder cache
*.exe
*.dmg
*.AppImage
*.snap
*.deb
*.msi
*.pkg
*.zip

# Electron builder cache
# (where it downloads Electron + tools)
**/.cache/
**/.output/
**/locales/
**/symbols/
**/symbols.zip
**/app.asar

# Vite cache
.vite/

# dotenv files (optional: keep only if you're not committing them)
.env
.env.local
.env.kiosk
.env.wallet
.env.production
.env.development

repomix-output.txt